/* xl, large: 1200px */
$breakpoint-xl: 1200px;
/* lg, large: 991px */
$breakpoint-lg: 991px;
/* md, large: 768px */
$breakpoint-md: 768px;
/* sm, large: 575px */
$breakpoint-sm: 575px;

@media screen and (max-width: $breakpoint-xl) {
  
}

@media screen and (max-width: $breakpoint-lg) {
  
}

@media screen and (max-width: $breakpoint-md) {
  
}

@media screen and (max-width: $breakpoint-sm) {
    .game-pannel{
        width: 350px;
    }
    .game-container{
        padding: 0;
        padding-top: 15px;
        padding-bottom: 15px;
    }

}
