/* -----------------------------------------------
				            CSS Styles
--------------------------------------------------

Table of Content

	1. Body and Core Css
     - 1.1 Typography
     - 1.2 Button Style
     - 1.4 Form Style
     - 1.5 NavBar

	2. Home Page
     - 2.1 Banner Section

----------------------------------- */

/* -----------------------------------
		    1. Body and Core Css
----------------------------------- */
* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  outline: none !important;
  list-style: none !important;
  text-decoration: none !important;

  &:after,
  &:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font: {
    size: 14px;
    weight: 500;
    family: "Nunito", sans-serif;
  }
  line-height: 1.3;
  text-align: center;
  color: #444444;
  background-color: #1D0859;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 1.1 Typography */
a {
  color: #d94c48;
  outline: none;
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    color: #000;
    outline: none;
    text-decoration: none;
  }
}

p {
  color: #444444;
  font: {
    size: 14px;
    weight: 600;
  }
  line-height: 1.7;
}

img {
  max-width: 100%;
}
li,
dl,
ol,
ul {
  padding: 0;
}

iframe {
  display: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
opacity: 1;
}
.game-container{
  margin: auto;
  background-color: #272749;
  min-width: 300px;
  max-width: 500px;
  padding: 30px;
  border-radius: 15px;
  margin-top: 15px;
}
.game-field{
  width: 350px;   
  height: 350px;
	margin: auto;	
	padding: 0;
	list-style: none;
  li{
    border-radius: 5%;
    float: left;
    margin: 2px;
    text-align: center;
    background: #2B2F57;
    transition: all 0.1s;
  }
  li:hover{
    background: #0e385f84;
    border: none;
  }
  li.activeBlock{
    background-image: url(../../img/bitcoin.svg);
    background-size: 100% 100%;
  }
  li.activeBlockFail{
    background-image: url(../../img/bomb.svg);
    background-size: 100% 100%;
  }
  
  
}

.game-pannel{
  background-color: #10101D;
  border-radius: 10px;
  width: 400px;
  height: 50px;
  margin-top: 15px;
  margin: auto;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  button{
    margin: 0 10px 0 10px;
    transform: translateY(-10px);
    width: 70px;
    height: 70px;
    vertical-align:middle;
    border-radius: 50%;
    color: #fcfcfc;
    background-color: #262626;
    border: 1px solid black;
    transition: all 0.3s ;
  }
  button:hover {
    background-color: #555555;
  }
  input{
    transform: translateY(-10px);
    text-align: center;
    border:none;
    width: 50px;
    font-weight: bold;
    border-radius: 10%;
  }
  .balances{
    margin: 5px;
    .bal-hed{
      font-size: 10px;
      font-weight: normal;
    }
    p{
    
      color: white;
      margin: 0;
      padding: 0;
    }
  }
}

.presbet{
  text-shadow: 1px 0 1px #000;
  font-weight: bold;
  font-size: large;
  color: #A5E5FF;
  margin-bottom: 10px;
}

.game-setting-pannel{
  .modal-content{
    color: white;
    background-color: #0D0D0D;
  }
  p{
    color: white;
  }
  .btn-close{
    background-color: #FFC529;
  }
  .btn-setting{
    border-radius: 50%;
    width: 60px;
    padding: 3px;
    background-color: #595959;
    margin: 0 5px 0 5px;
    border: 1px solid #595959;
  }
  button.activeBlock{
    border: none;
    background-color: #FFC529;
  }
}
  .ifActiveGame{
    position: relative;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: #d94c48;
  }